.add-task {
	form {
		input {
			margin-right: 1rem;
			padding: 1rem 0 1rem 1rem;
			background-color: white;
			border: none;
			border-radius: 3px;
			font-size: 1.4rem;
			width: 350px;

			&::placeholder {
				color: $lightgray;
			}
		}

		button {
			padding: 1rem 1.5rem;
			color: white;
			background-color: $primary-blue;
			border: none;
			border-radius: 3px;
			font-size: 1.4rem;
			cursor: pointer;
		}
	}

	.error {
		font-size: 1rem;
		margin-top: 1rem;
		color: red;
	}
}